.navbar{
    background-color: rgb(4, 67, 184);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
}

body{
   margin: 0; 
   margin-top: 60px;
}

.navbar a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 5px;
}

.navbar div{
    height: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.navbar a:hover{
    text-decoration: underline;
}
.navbar img{
    height: 35px;
}

h1{
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.navbar div label{
    display: flex;
    gap: 5px;
    align-items: center;
}

.card{
    display: flex;
    border: 5px solid rgb(41, 216, 247);
    gap: 50px;
    margin: 0px 50px;
}

.card label{
    display: flex;
    align-items: center;
}

.card img{
    height: 200px;
    width: 200px;
}