body{ 
    background-color:blanchedalmond;
    margin: 0;
    margin-top: 130px;
}

.navbar{
    background-color:red;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.dropdown{
    display: none;
}

.navbar a, .dropdown, .dropdown a{
    background-color: blueviolet;
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.navbar a:hover{
    background-color:purple;
}


.dropdown div{
    background-color: blueviolet;
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
}

.dropdown:hover div{
    display: flex;
}

.content{
    display: flex;
    margin: 0 30px;
    justify-content: right;
    margin-top: 30px;
}

.lateral{
    background-color:blue;
    width: 200px;
    height: calc(100vh - 160px);
    position: fixed;
    left: 30px;
}

.corpo{
    background-color: brown;
    width: calc(100% - 230px)
}

@media (max-width: 800px){/* Sempre disso para menos*/
    
    .lateral{
        display: none;
    }

    .corpo{
        width: 100%;
    }
}

@media (max-width: 600px){

    .navbar > a{
        display: none;
    }

    .dropdown{
        display: flex;
    }
}

